.edit {
    height: 13px;
    padding-left: 3px;
}

a:hover{
    text-decoration: none;
}

.thumb {
    height: 24px;
    float: left;
}

.like {

}

.dislike {
    float: left;
    padding-top: 6px;
}

.profile_pic {
    max-height: 200px;
    max-width: 200px;
}

.social_media {
    max-width: 25px;
    max-height: 25px;
}