.edit {
    height: 13px;
    padding-left: 3px;
}

a:hover{
    text-decoration: none;
}

.thumb {
    height: 24px;
    float: left;
}

.like {
    float: left;
}

.dislike {
    float: left;
    padding-top: 6px;
}

.profile_pic {
    max-height: 200px;
    max-width: 200px;
}

.no_profile_pic {
    min-height: 100px;
    min-width: 100px;
}

.social_media {
    max-width: 25px;
    max-height: 25px;
}

profile {
    display: block;
    position: absolute;
    float: left;
}