{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Edit Profile</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
                <button class="btn btn-secondary">Update Profile Page</button>
            </div>

        </form>
    {% else %}
        You need to login to view this page
        <br>
        <a href="{% url 'login'%}" class="btn btn-secondary">Login</a>
        <a href="{% url 'home'%}" class="btn btn-primary">Home</a>
    {% endif %}

{% endblock %}