{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }}</small>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post' post.pk %}"><img src="{% static 'img/edit_32px.png' %}" alt="" class="edit"></a>
            <a href="{% url 'delete_post' post.pk %}"><img src="{% static 'img/trash_32px.png' %}" alt="" class="edit"></a><br>
        {% endif %}
    {% endif %}
<small>Published on {{ post.post_date }}</small><br>
    <hr>

{{ post.body|safe }}

<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
    <br>
<hr>
    {% if total_likes == 1 %}
        {{ total_likes }} Like
    {% else %}
        {{ total_likes }} Likes
    {% endif %}

    {% if total_dislikes == 1 %}
        {{ total_dislikes }} Dislike
    {% else %}
        {{ total_dislikes }} Dislikes
    {% endif %}

{% if user.is_authenticated %}
    {% if user.id != post.author.id  %}

        <br>
        <div>
            <form action="{% url 'like_post' post.pk %}" method="POST" style="float: left;">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn"><img src="{% static 'img/thumbs_up_color_64px.png' %}" alt="Like" class="thumb"></button>
                {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn"><img src="{% static 'img/thumbs_up_64px.png' %}" alt="Like" class="thumb"></button>
                {% endif %}
            </form>

            <form action="{% url 'dislike_post' post.pk %}" method="POST" style="float: left; padding-top: 6px;">
                {% csrf_token %}
                {% if disliked %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn"><img src="{% static 'img/thumbs_down_color_64px.png' %}" alt="Dislike" class="thumb"></button>
                {% else %}
                    <button type="submit" name="post_id" value="{{ post.id }}" class="btn"><img src="{% static 'img/thumbs_down_64px.png' %}" alt="Dislike" class="thumb"></button>
                {% endif %}
            </form>
        </div>
    {% endif %}
    {% else %}
        <p><small>Login to Like or Dislike</small></p>
{% endif %}

{% endblock %}


