{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if category_posts %}
<h1>{{ cats }} Category</h1>
    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }} - {{ post.author.first_name }}</a>
            {% if user.is_authenticated %}
                <a href="{% url 'update_post' post.pk %}"><img src="{% static 'img/edit_32px.png' %}" alt="" class="edit"></a>
                <a href="{% url 'delete_post' post.pk %}"><img src="{% static 'img/trash_32px.png' %}" alt="" class="edit"></a>
            {% endif %}<br>
        {{ post.body|slice:':100'|safe }} - {{ post.post_date }}</li>
    {% endfor %}
    </ul>

    {% else %}
        <h2>This topic does not exist</h2>

    {% endif %}
{% endblock %}