{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Post...{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Delete Post...</h1>
            <br>
        <h3>Delete: {{ post.title }}</h3>
        <form action="" method="post">
            {% csrf_token %}
            <strong>Are you sure?</strong>
            <button class="btn btn-warning">Delete Post!</button>
        </form>
    {% else %}
        You need to login to view this page
        <br>
        <a href="{% url 'login'%}" class="btn btn-secondary">Login</a>
        <a href="{% url 'home'%}" class="btn btn-primary">Home</a>
    {% endif %}
{% endblock %}