{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Post</h1>
<ul>
    {% for post in object_list %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }} - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> - {{ post.author.first_name }}</a>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
            <a
                href="{% url 'update_post' post.pk %}"><img src="{% static 'img/edit_32px.png' %}" alt="" class="edit"></a><a
                href="{% url 'delete_post' post.pk %}"><img src="{% static 'img/trash_32px.png' %}" alt="" class="edit"></a>
            {% endif %}
            {% endif %}<br>
        {{ post.snippet }}</li>
    {% endfor %}
</ul>
{% endblock %}